.flag {
    width: 15%;
    margin: 1em;
}

.logo {
    width: 80%;
}

.card {
    width: 300px;
}

.hero {
    margin-bottom: 5em;
}

footer {
    margin-top: 4em;
    padding: 1em 0;
background-color: rgb(10, 10, 125);
color: white;
}

.visit {
    color: goldenrod;
}

.city {
    color: greenyellow;
}